<!-- TODO: FIX Bindvar so it works everywhere -->
<div id="loader" class="loader"></div>
<div
  class="box cards shade1 list br0- bcwhite-"
  bindvar="src;c"
  bindasset="apikey:api.api_key"
  bindquery="q:q;c:category"
  bindglobal="l:globalize.code"
  ifbeforeend="{c};data-src:&or=(id.eq.{c},taxonomy.eq.{c})"
  data-src="{src}"
  data-header="apikey:{apikey};Prefer:count=exact"
  data-loader="#loader"
  data-onempty="#empty"
  data-iterate="columns"
  flex
  flexdirection="row">
  <a bindvar="field" data-set="i:id" href="{field}.html?i={i}" class="p1">
    <figure class="pr">
      <p bindvar="field:isLocalNetwork" bindglobal="l:globalize.code" data-get="column_name"></p>
    </figure>
  </a>
</div>